body{
    background-color: rgb(145, 255, 0);
}
#text{
    width: 500px;
    height: 80px;
    font-size: 30pt;
    background-color: rgb(23, 24, 22);
    color: rgb(145, 255, 0);
}
#button{
    width: 180px;
    height: 80px;
    font-size: 30pt;
    cursor: pointer;
    background-color: rgb(23, 24, 22);
    color: rgb(145, 255, 0);
}
li{
    width: 500px;
    font-size: 20pt;
    border: rgb(51, 51, 51) 1px solid;
    margin-top: -15px;
    margin-bottom: 15px;
    margin-left: -37px;
    text-align: center;
    background-color: rgb(23, 24, 22);
    color: rgb(145, 255, 0);
}
ul{
    list-style: none;
    text-align: center;
}
a{
    font-size: 30pt;
    margin-left: 80%;
    text-align: center;
    cursor: pointer;
    background-color: rgb(23, 24, 22);
    color: rgb(145, 255, 0);

}
